<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VITazon</title>
    <link rel="stylesheet" href="../static/css/mainpage.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="logo">
            <h1>VITazon</h1>
            
        </div>
        <ul class="nav-links">
            <li><a href="#">Hot Stuff</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Credit Score</a></li>
            <li><a href="#">Registry</a></li>
            <li><a href="log.html">login</a></li>

        </ul>
        <div class="search-bar">
            <input type="text" placeholder="Search products...">
            <button>Search</button>
        </div>
        <div class="cart">
            <a href=""><img src="../static/assets/cart-icon.png" alt="Cart" /></a>
        
        </div>
        <div class="loginlink">
            <a href='log.html'>login</a>
        </div>
        
    </nav>
    <div class="mainlogo">
        <h1 class="h1_vitazon">VITazon</h1>
    </div>
    <div class="slogen">
        <h2 class="h3_slogen">Better life to a Vitian</h2>

    </div>
     <!-- Shop -->
     <section class="categories">
        <h2>Shop by Store</h2>
        <div class="category-grid">
            <div class="category-item">
                <img src="../static/assets/Balaji.png" alt="Electronics">
                <p>Balaji Store</p>
            </div>
            
            <div class="category-item">
                <img src="../static/assets/all_mart.jpg" alt="Fashion">
                <p>All mart</p>
            </div>
            <div class="category-item">
                <img src="../static/assets/dc.png" alt="Home & Kitchen">
                <p>DC</p>
            </div>
            <div class="category-item">
                <img src="../static/assets/enzo2.png" alt="Toys">
                <p>ENZO</p>
            </div>
            <div class="category-item">
                <img src="../static/assets/coffe.jpg" alt="Beauty">
                <p>Nescafe</p>
            </div>
            <div class="category-item">
                <img src="../static/assets/domino2.png" alt="Sports">
                <p>Domino's</p>
            </div>
        </div>
    </section>
    <div class="gap">
        <p></p>
    </div>

    <!-- PRODUCT -->
    <section class="categories">
        <h2>Shop by Category</h2>
        <div class="category-grid">
            <div class="category-item">
                <img src="../static/assets/electronics" alt="Electronics">
                <p>Electronics</p>
            </div>
            
            <div class="category-item">
                <img src="../static/assets/fashion.jpg" alt="Fashion">
                <p>Fashion</p>
            </div>
            <div class="category-item">
                <img src="../static/assets/stationary.webp" alt="Home & Kitchen">
                <p>Stationary</p>
            </div>
            <div class="category-item">
                <img src="../static/assets/munchy.jpg" alt="Toys">
                <p>Munchy</p>
            </div>
            <div class="category-item">
                <img src="../static/assets/grocery.webp" alt="Beauty">
                <p>Grocery</p>
            </div>
            <div class="category-item">
                <img src="../static/assets/sports.jpg" alt="Sports">
                <p>Sports</p>
            </div>
        </div>
    </section>

    

    <!-- Footer Section -->
    <footer>
        <p></p>
    </footer>
</body>
</html>